{% extends "CRGSBRBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block body %}

    <h3 class="text-center">Nouveau Medicament</h3>
    <hr> 

    {{ form(form)}}
{% endblock %}
